{% extends "base.html" %}

{% block scripts %}
	{{ super() }}

	<script>
		$("#activity-nav").addClass("active");
	</script>
{% endblock %}

{% block app_content %}
	<h2>Activity</h2>
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link {% if mode == 'summary' %} active {% endif %}" href="{{ url_for('activity', mode='summary') }}">Summary</a>
		</li>
		<li class="nav-item">
			<a class="nav-link {% if mode == 'detail' %} active {% endif %}" href="{{ url_for('activity', mode='detail') }}">Detail</a>
		</li>
	</ul>

	{% for exercise_date_group in exercises|groupby("exercise_date")|reverse %}
		<h5>{{ moment(exercise_date_group.grouper).format("dddd LL") }}:
			Completed {{ exercise_date_group.exercises|length }} exercises</h5>
		<table class="table table-sm table-hover">
			{% if mode == "summary" %}
				{% for exercise in exercise_date_group.list %}
					<tr>
						<td style="width: 70%">{{ exercise.name }}</td>
						<td style="width: 30%">
							{% if exercise.measured_by == "reps" %}
								{{ exercise.total_reps }} reps
							{% elif exercise.measured_by == "seconds" %}
								{{ exercise.total_seconds }} secs
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			{% elif mode == "detail" %}
				{% for exercise in exercise_date_group.list %}
					<tr>
						<td style="width: 50%">{{ exercise.type.name }}</td>
						<td style="width: 15%">{{ moment(exercise.exercise_datetime).format("HH:mm:ss") }}</td>
						<td style="width: 20%">
							{% if exercise.type.measured_by == "reps" %}
								{{ exercise.reps }} reps
							{% elif exercise.type.measured_by == "seconds" %}
								{{ exercise.seconds }} secs
							{% endif %}
						</td>
						<td style="width: 15%"><a href="{{ url_for('edit_exercise', id=exercise.id, next='/activity/{mode}'.format(mode=mode)) }}">Edit</a></td>
					</tr>
				{% endfor %}
			{% endif %}
		</table>

	{% endfor %}
{% endblock %}