{% extends "base.html" %}

{% block styles %}
	{{ super() }}
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" rel="stylesheet" />
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
	{{ super() }}

	<script>
		$("#activity-nav").addClass("active");
	</script>
	<script src="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
	<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.js"></script>
	{{ at_cadence_plot_script|safe }}
	{{ above_cadence_plot_script|safe }}
	{% if at_pace_plot_container %}
		{{ at_pace_plot_container.plot_script|safe }}
		{{ above_pace_plot_container.plot_script|safe }}
	{% endif %}
	{% if at_gradient_plot_container %}
		{{ at_gradient_plot_container.plot_script|safe }}
		{{ above_gradient_plot_container.plot_script|safe }}
	{% endif %}
{% endblock %}

{% block app_content %}
	{% include '_activity_summary.html' %}
	{% if at_cadence_plot_div %}		
		<div class="card mt-3">
			<div class="card-header">
				<h5 class="m-0 p-0">Cadence Analysis</h5>				
			</div>
			<div class="card-body">
				<p>Once you understand your natural cadence (steps per minute),
				analysing it for any given activity is a great way to see how hard you’ve worked, especially if you’ve incorporated any intervals into your run.
				The accelerometer in your watch is normally very accurate so cadence is a great metric to compare from week to week,
				see your improvement, and set goals around.</p>
				<div class="row mt-1">
					<div class="col-md-6">
						<h6>Time Spent at Cadence</h6>
						{{ at_cadence_plot_div|safe }}
					</div>
					<div class="col-md-6">
						<h6>Time Spent above Cadence</h6>
						{{ above_cadence_plot_div|safe }}
					</div>
				</div>
			</div>
		</div>
	{% endif %}
	{% if at_pace_plot_container %}
		<div class="card mt-3">
			<div class="card-header">
				<h5 class="m-0 p-0">Pace Analysis</h5>
			</div>
			<div class="card-body">
				<p>Calculation of pace relies heavily on your GPS, and whilst it will tend to be accurate over the course of a whole run,
				the margin of error is actually quite high when taking data points every few seconds.
				Sadly that causes your recorded pace to jump around, so these charts are generally less useful than those for cadence.
				We’re considering some ways we could try to refine this data,
				so if you think you’d find this useful let us know via <a href="mailto:feedback@trainingticks.com">feedback@trainingticks.com</a>.</p>
				<div class="row mt-1">
					<div class="col-md-6">
						<h6>{{ at_pace_plot_container.name }}</h6>
						{{ at_pace_plot_container.plot_div|safe }}
					</div>
					<div class="col-md-6">
						<h6>{{ above_pace_plot_container.name }}</h6>
						{{ above_pace_plot_container.plot_div|safe }}
					</div>
				</div>
			</div>
		</div>
	{% endif %}
	{% if at_gradient_plot_container %}
		<div class="card mt-3">
			<div class="card-header">
				<h5 class="m-0 p-0">Gradient Analysis</h5>
			</div>
			<div class="card-body">
				<p>Whilst total elevation gain for a whole run is great to see how much climbing you've done,
				sometimes it can be interesting to look in more detail at what kind of hills you’ve been running -
				were they long drags or those nasty short sharp ones? 
				Maybe you’re just curious to see just how steep that hill you’ve just done really was!
				Or maybe you want to set some goals to do more running at steeper gradients to prepare for an upcoming race.</p>
				<div class="row mt-1">
					<div class="col-md-6">
						<h6>{{ at_gradient_plot_container.name }}</h6>
						{{ at_gradient_plot_container.plot_div|safe }}
					</div>
					<div class="col-md-6">
						<h6>{{ above_gradient_plot_container.name }}</h6>
						{{ above_gradient_plot_container.plot_div|safe }}
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-12">
						<p>Bad elevation and gradient data? <a href="{{ url_for('flag_bad_elevation_data', activity_id=activity.id) }}">Ignore gradient data from this activity</a>.</p>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}