{% extends "base.html" %}

{% block scripts %}
	{{ super() }}

	<script>
		$("#activity-nav").addClass("active");
	</script>
{% endblock %}

{% block app_content %}
	<h2>Activity</h2>
		{% for exercise_date_group in exercise_date_groups %}
			<h5>{{ moment(exercise_date_group.exercise_date).format("dddd LL") }}:
				Completed {{ exercise_date_group.exercises|length }} exercises</h5>
			<table class="table table-sm table-hover">
				{% for exercise in exercise_date_group.exercises %}
					<tr>
						<td style="width: 50%">{{ exercise.type.name }}</td>
						<td style="width: 15%">{{ moment(exercise.exercise_datetime).format("HH:mm:ss") }}</td>
						<td style="width: 20%">
							{% if exercise.type.measured_by == "reps" %}
								{{ exercise.reps }} reps
							{% elif exercise.type.measured_by == "seconds" %}
								{{ exercise.seconds }} secs
							{% endif %}
						</td>
						<td style="width: 15%"><a href="{{ url_for('edit_exercise', id=exercise.id) }}">Edit</a></td>
					</tr>
				{% endfor %}
			</table>

		{% endfor %}
{% endblock %}