{% extends "base.html" %}

{% block styles %}
	{{ super() }}
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" rel="stylesheet" />
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
	{{ super() }}

	<script>
		$("#activity-nav").addClass("active");
	</script>
	<script src="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
	<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.js"></script>
	{{ at_cadence_plot_script|safe }}
	{{ above_cadence_plot_script|safe }}
	{% if at_pace_plot_container %}
		{{ at_pace_plot_container.plot_script|safe }}
		{{ above_pace_plot_container.plot_script|safe }}
	{% endif %}
	{% if at_gradient_plot_container %}
		{{ at_gradient_plot_container.plot_script|safe }}
		{{ above_gradient_plot_container.plot_script|safe }}
	{% endif %}
{% endblock %}

{% block app_content %}
	{% include '_activity_summary.html' %}
	<div class="row mt-4">
		<div class="col-md-6">
			<h6>Time Spent at Cadence</h6>
			{{ at_cadence_plot_div|safe }}
		</div>
		<div class="col-md-6">
			<h6>Time Spent above Cadence</h6>
			{{ above_cadence_plot_div|safe }}
		</div>
	</div>
	{% if at_pace_plot_container %}
		<div class="row mt-4">
			<div class="col-md-6">
				<h6>{{ at_pace_plot_container.name }}</h6>
				{{ at_pace_plot_container.plot_div|safe }}
			</div>
			<div class="col-md-6">
				<h6>{{ above_pace_plot_container.name }}</h6>
				{{ above_pace_plot_container.plot_div|safe }}
			</div>
		</div>
	{% endif %}
	{% if at_gradient_plot_container %}
		<div class="row mt-4">
			<div class="col-md-6">
				<h6>{{ at_gradient_plot_container.name }}</h6>
				{{ at_gradient_plot_container.plot_div|safe }}
			</div>
			<div class="col-md-6">
				<h6>{{ above_gradient_plot_container.name }}</h6>
				{{ above_gradient_plot_container.plot_div|safe }}
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-12">
				<p>Bad elevation and gradient data? <a href="{{ url_for('flag_bad_elevation_data', activity_id=activity.id) }}">Ignore gradient data from this activity</a>.</p>
			</div>
		</div>
	{% endif %}
{% endblock %}