{% extends "base.html" %}

{% block styles %}
	{{ super() }}
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" rel="stylesheet" />
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
	{{ super() }}

	<script>
		$("#activity-nav").addClass("active");
	</script>
	<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.js"></script>
    {{ plot_by_day_script|safe }}
{% endblock %}

{% block app_content %}
	<h2>Activity</h2>
	<h5>Completed Exercise Sets by Day</h5>
	{{ plot_by_day_div|safe }}

	<ul class="nav nav-tabs mt-4">
		<li class="nav-item">
			<a class="nav-link {% if mode == 'summary' %} active {% endif %}" href="{{ url_for('activity', mode='summary') }}">Summary</a>
		</li>
		<li class="nav-item">
			<a class="nav-link {% if mode == 'detail' %} active {% endif %}" href="{{ url_for('activity', mode='detail') }}">Detail</a>
		</li>
	</ul>

	{% for activity_date_group in activities|groupby("activity_date")|reverse %}
		<h5>{{ moment(activity_date_group.grouper).format("ddd LL") }}</h5>
		<table class="table table-sm table-hover">
			{% if mode == "summary" %}
				{% for activity in activity_date_group.list %}
					<tr>
						<td style="width: 70%">
							{% if activity.is_race %}
								<i class="fa fa-flag-checkered"></i>
							{% endif %}
							{% if activity.source == "Strava" %}
								<a href="{{ url_for('activity_analysis', id=activity.id) }}">{{ activity.name }}</a>
							{% else %}
								{{ activity.name }}
							{% endif %}
						</td>
						<td style="width: 30%">
							{% if activity.measured_by == "reps" %}
								{{ activity.total_reps }} reps
							{% elif activity.measured_by == "seconds" %}
								{{ activity.total_seconds }} secs
							{% elif activity.measured_by == "distance" %}
								{{ activity.total_distance }} m
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			{% elif mode == "detail" %}
				{% for activity in activity_date_group.list %}
					<tr>
						<td style="width: 50%">
							{% if activity.scheduled_exercise %}
								<i class="fa fa-check-square-o"></i>
							{%elif activity.is_race %}
								<i class="fa fa-flag-checkered"></i>}
							{% endif %}
							{% if activity.source == "Strava" %}
								<a href="{{ url_for('activity_analysis', id=activity.id) }}">{{ activity.name }}</a>
							{% else %}
								{{ activity.name }}
							{% endif %}
						</td>
						<td style="width: 15%">{{ moment(activity.activity_datetime).format("HH:mm:ss") }}</td>
						<td style="width: 20%">
							{% if activity.measured_by == "reps" %}
								{{ activity.reps }} reps
							{% elif activity.measured_by == "seconds" %}
								{{ activity.seconds }} secs
							{% elif activity.measured_by == "distance" %}
								{{ activity.distance }} m
							{% endif %}
						</td>
						<td style="width: 15%">
							{% if activity.source == "Exercise" %}
								<a href="{{ url_for('edit_exercise', id=activity.id, next='/activity/{mode}'.format(mode=mode)) }}"><i class="fa fa-edit"></i> Edit</a>
							{% elif activity.source == "Strava" %}
								<a href="https://www.strava.com/activities/{{ activity.external_id }}">View on Strava</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			{% endif %}
		</table>
	{% endfor %}
	<p><img src="/static/img/api_logo_cptblWith_strava_horiz_light.png" /></p>
{% endblock %}