{% extends "bootstrap/base.html" %}
{% import "bootstrap/google.html" as google %}

{% block title %}
		{% if title %}
			{{ title }} - Training Ticks
		{% else %}
			Training Ticks
		{% endif %}
{% endblock %}

{% block scripts %}
	{{ super() }}
	{{ google.uanalytics("UA-127378589-1") }}
	{{ moment.include_moment() }}
	{{ moment.locale("en-gb") }}

	<script>
		function handleLogout () {
			localStorage.clear();
			window.location.href="/auth/logout";
		}
	</script>
{% endblock %}

{% block styles %}
	{{ super() }}
		<link rel="shortcut icon" href="/static/img/favicon.ico">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
	<style>
		.tt-navbar {
			background-color: #1d5454;
		}

		.tt-heading {
			color: #1d5454;
		}

		.navbar-dark .navbar-nav .nav-link {
			color: #cdcdcd;
		}

		.card {
			border-color: #1d5454;
		}

		.card-header {
			border-color: #1d5454;
			background-color: #ededed;
		}

		.btn {
		    margin: 2px 0px;
		}

		/* TODO: Can probably find a better way to adjust the whole bootstrap theme */
		.btn-success {
			background-color: #588157;
			border-color: #588157;
		}

		.btn-danger {
			background-color: #ef6461;
			border-color: #ef6461;
		}

		.btn-warning {
			background-color: #e4b363;
			border-color: #e4b363;
		}

		.btn-primary {
			background-color: #3f7eba;
			border-color: #3f7eba;
		}

		.btn-outline-success {
			color: #588157;
			border-color: #588157;
		}

		.btn-outline-danger {
			color: #ef6461;
			border-color: #ef6461;
		}

		.btn-outline-warning {
			color: #e4b363;
			border-color: #e4b363;
		}

		.btn-outline-primary {
			color: #3f7eba;
			border-color: #3f7eba;
		}

		.bg-success {
			background-color: #588157!important;
		}

		.bg-danger {
			background-color: #ef6461!important;
		}

		.bg-warning {
			background-color: #e4b363!important;
		}

		.bg-primary {
			background-color: #3f7eba!important;
		}
		
		.border-success {
			border-color: #588157!important;
			border-width: 2px!important;
		}

		.border-danger {
			border-color: #ef6461!important;
			border-width: 2px!important;
		}

		.border-warning {
			border-color: #e4b363!important;
			border-width: 2px!important;
		}

		.border-primary {
			border-color: #3f7eba!important;
			border-width: 2px!important;
		}

		.exercise-buttons {
			text-align: left;
		}

		.card-header a {
			color: inherit;
		}

		.dropdown-menu-scrollable {
			height: auto;
			max-height: 250px; 
		    overflow-x:auto;
		    -webkit-overflow-scrolling:touch;
		    -moz-overflow-scrolling:touch;
		    -ms-overflow-scrolling:touch;
		    -o-overflow-scrolling:touch;
		    overflow-scrolling:touch;
		}

		.cat_green {
			background-color: #588157;
			border-color: #588157;
			color: #ffffff;
		}

		.cat_green_outline {
			background-color: #ffffff;
			border-color: #588157;
			border-width: 2px;
			border-style: solid;
			color: #588157;
		}

		.cat_green_border_only, .cat_green_outline_border_only {
			border-color: #588157;
			border-width: 2px;
		}

		.cat_blue {
			background-color: #3f7eba;
			border-color: #3f7eba;
			color: #ffffff; 
		}

		.cat_blue_outline {
			background-color: #ffffff;
			border-color: #3f7eba;
			border-width: 2px;
			border-style: solid;
			color: #3f7eba;
		}

		.cat_blue_border_only, .cat_blue_outline_border_only {
			border-color: #3f7eba;
			border-width: 2px;
		}	

		.cat_red {
			background-color: #ef6461;
			border-color: #ef6461;
			color: #ffffff; 
		}

		.cat_red_outline {
			background-color: #ffffff;
			border-color: #ef6461;
			border-width: 2px;
			border-style: solid;
			color: #ef6461; 
		}	

		.cat_red_border_only, .cat_red_outline_border_only {
			border-color: #ef6461;
			border-width: 2px;
		}	

		.cat_yellow {
			background-color: #e4b363;
			border-color: #e4b363;
			color: #292b2c; 
		}

		.cat_yellow_outline {
			background-color: #ffffff;
			border-color: #e4b363;
			border-width: 2px;
			border-style: solid;
			color: #e4b363;
		}

		.cat_yellow_border_only, .cat_yellow_outline_border_only {
			border-color: #e4b363;
			border-width: 2px;
		}

		/* Classes for uncategorised when displaying the stats */
		.Uncategorised {
			background-color: #ffffff;
			border-color: #292b2c;
			border-width: 2px;
			border-style: solid;
			color: #292b2c;
		}
		.Run {
			background-color: #ffffff;
			border-color: #292b2c;
			border-width: 2px;
			border-style: solid;
			color: #292b2c;
		}
		.Ride {
			background-color: #ffffff;
			border-color: #292b2c;
			border-width: 2px;
			border-style: solid;
			color: #292b2c;
		}
		.Swim {
			background-color: #ffffff;
			border-color: #292b2c;
			border-width: 2px;
			border-style: solid;
			color: #292b2c;
		}

		.featurette-image {
			 border: 1px solid #B6DBCA;
		}

		.strava-link-img {
			max-height: 30px;
		}

		.jumbotron {
			background-color: #B6DBCA;
		}

		h1 {
			color: #1d5454;
		}

		h2 {
			color: #1d5454;
			margin-top: 20px; /* TODO: Bin these off and use the boostrap mt classes */;
		}
		/*
		h3 {
			color: #1d5454;
			margin-top: 20px;
		}
		*/
		h4 {
			color: #1d5454;
		}

		h5 {
			color: #1d5454;
			margin-top: 20px;
		}

		.carousel-control-prev-icon {
		 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
		}

		.carousel-control-next-icon {
		  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
		}

		.carousel-control-prev {
		  margin-left: -20px;
		}

		.carousel-control-next {
		  margin-right: -20px;
		}

		.carousel-indicators li {
		  background-color: #999;
		  background-color: rgba(70,70,70,.25);
		}

		.carousel-indicators .active {
		  background-color: #444;
		}
		

		@media (min-width: 576px) {
			.container {
					max-width: 740px !important;
			}
		}

		@media (min-width: 768px) {
			.container {
					max-width: 960px !important;
			}
		}

		@media (min-width: 992px) {
			.container {
					max-width: 1140px !important;
			}
		}

	</style>
{% endblock %}

{% block navbar %}
	<nav class="navbar navbar-expand-lg navbar-dark tt-navbar mb-2">
	    <div class="container">
	        <a class="navbar-brand" href="{{ url_for('index') }}"><i class="fa fa-check-circle" style="color: #ededed;"></i> Training Ticks</a>
	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			</button>
	        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
	                {% if current_user.is_anonymous %}
	           				<ul class="nav navbar-nav ml-auto mt-2 mt-lg-0">
											 {% if "blog" in request.path %}
											 	<li class="navbar-item" id="home-nav"><a class="nav-link" href="{{ url_for('index') }}">Sign Up</a></li>
											 	<li class="navbar-item active" id="blog-nav"><a class="nav-link" href="{{ url_for('blog.index') }}">Blog</a></li>
											 {% endif %}
										</ul>
	                {% else %}
	                	<ul class="navbar-nav ml-md-auto mt-2 mt-lg-0">
		                	<li class="navbar-item" id="home-nav"><a class="nav-link" href="{{ url_for('index') }}"><i class="fa fa-home"></i> Home</a></li>
		                	<li class="navbar-item" id="activity-nav"><a class="nav-link" href="{{ url_for('weekly_activity', year='current') }}"><i class="fa fa-bar-chart"></i> Analysis & Goals</a></li>
		                	<li class="navbar-item" id="schedule-nav"><a class="nav-link" href="{{ url_for('training_plan') }}"><i class="fa fa-calendar"></i> Training Plan</a></li>
		                	<li class="navbar-item" id="manage-exercises-nav"><a class="nav-link" href="{{ url_for('categories') }}"><i class="fa fa-tags"></i> Manage Exercises</a></li>
		                	<li class="navbar-item dropdown" id="help-nav">
		                		<a class="nav-link" data-toggle="dropdown" href="#" role="button"><i class="fa fa-question-circle"></i> Help</a>
		                		<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="#" data-toggle="modal" data-target="#howToAnalyseCadenceModal">How to analyse your cadence</a>
													<a class="dropdown-item" href="#" data-toggle="modal" data-target="#howToSetTrainingGoalsModal">How to set and track training goals</a>
													<div class="dropdown-divider"></div>
													<a class="dropdown-item" href="#" data-toggle="modal" data-target="#howToLogExerciseModal">How to log exercises</a>
													<a class="dropdown-item" href="#" data-toggle="modal" data-target="#howToCategoriseExercisesModal">How to categorise your exercises</a>
												</div>
		                	</li>
											<li class="navbar-item dropdown">
												<a class="nav-link" data-toggle="dropdown" href="#" role="button"><i class="fa fa-user-circle fa-lg"></i></a>
												<div class="dropdown-menu dropdown-menu-right">
													<div class="dropdown-item">Signed in as {{ current_user.email }}</div>
													<div class="dropdown-divider"></div>
													<a class="dropdown-item" href="{{ url_for('auth.preferences') }}"><i class="fa fa-cog"></i> Preferences</a>
													<a class="dropdown-item" onclick="handleLogout()" href="#"><i class="fa fa-sign-out"></i> Logout</a>
												</div>
											</li>
	                	</ul>
	                {% endif %}
	            </ul>
	        </div>
    </div>
	</nav>
{% endblock %}

{% block content %}
	<div class="container">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-info" role="alert">{{ message }}</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
		{% block app_content %}{% endblock %}
	</div>
	<!-- FOOTER -->
    <footer class="container">
    	<hr class="featurette-divider mt-5" />
    	<div class="row">
    		<div class="col-md-9">
    			<p>
						&copy; 2019 Training Ticks
						&middot; <a href="{{ url_for('blog.index') }}">Blog</a>
						&middot; <a href="https://trello.com/b/44rh6f3e/training-ticks-public-roadmap" target="_blank" rel="noopener noreferrer">Public Roadmap</a>
						&middot; <a href="{{ url_for('privacy_policy') }}">Privacy</a>
						&middot; <a href="mailto:feedback@trainingticks.com">feedback@trainingticks.com</a></p>
    		</div>
    		<div class="col-md-3 text-right">
        		<a href="http://www.strava.com"><img class="img-fluid mx-auto strava-link-img" src="/static/img/api_logo_cptblWith_strava_horiz_light.png" /></a>
        	</div>
    	</div>
    </footer>

	<!-- Modal and carousel for how to log exercise -->
	<div class="modal fade" id="howToLogExerciseModal" tabindex="-1" role="dialog" aria-labelledby="howToLogExerciseModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="howToLogExerciseModalLabel">How to log exercises</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <div id="howToLogExerciseCarouselIndicators" class="carousel slide" >
			  <ol class="carousel-indicators">
			    <li data-target="#howToLogExerciseCarouselIndicators" data-slide-to="0" class="active"></li>
			    <li data-target="#howToLogExerciseCarouselIndicators" data-slide-to="1"></li>
			    <li data-target="#howToLogExerciseCarouselIndicators" data-slide-to="2"></li>
			    <li data-target="#howToLogExerciseCarouselIndicators" data-slide-to="3"></li>
			    <li data-target="#howToLogExerciseCarouselIndicators" data-slide-to="4"></li>
			  </ol>
			  <div class="carousel-inner">
			    <div class="carousel-item mb-5 active">
			      <img class="d-block w-100" src="/static/img/how_to_log_exercise_step_1.jpg" alt="Step 1">
			      <hr class="featurette-divider" />
			      <p><small>First of all you need to do some work, so choose your favourite exercise and do some reps! Once you're done click the <strong>New Exercise Type</strong> button.</small></p>
			    </div>
			    <div class="carousel-item mb-5">
			      <img class="d-block w-100" src="/static/img/how_to_log_exercise_step_2.jpg" alt="Step 2">
			      <hr class="featurette-divider" />
			      <p><small>Enter a name for the exercise you’ve just done and specify how many reps you did. Or if you chose exercise that involves holding a position then change the <strong>Measured By</strong> dropdown to “Time (seconds)” and enter the number of seconds in the field below. Once you’re done click <strong>Log Exercise</strong>.</small></p>
			    </div>
			    <div class="carousel-item mb-5">
			      <img class="d-block w-100" src="/static/img/how_to_log_exercise_step_3.jpg" alt="Step 3">
			      <hr class="featurette-divider" />
			      <p><small>Your exercise will now show up under <strong>Recently added activity</strong>. Whilst you’re in the mood, why not repeat the exercise you’ve just done? This time once you’re done, click the new button that’s appeared for your exercise.</small></p>
			    </div>
			    <div class="carousel-item mb-5">
			      <img class="d-block w-100" src="/static/img/how_to_log_exercise_step_4.jpg" alt="Step 4">
			      <hr class="featurette-divider" />
			      <p><small>You’ll notice that the button defaults to logging the same number of reps that you did first time round, so if you do a different number just click the <strong>Edit</strong> link after you’ve recorded the exercise.</small></p>
			    </div>
			    <div class="carousel-item mb-5">
			      <img class="d-block w-100" src="/static/img/how_to_log_exercise_step_5.jpg" alt="Step 5">
			      <hr class="featurette-divider" />
			      <p><small>If you want to change the default number of reps then just tick the <strong>Update default</strong> tickbox and this in turn will update the button once you click on <strong>Update Exercise</strong>.</small></p>
			    </div>
			  </div>
			  <a class="carousel-control-prev" href="#howToLogExerciseCarouselIndicators" role="button" data-slide="prev">
			    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="carousel-control-next" href="#howToLogExerciseCarouselIndicators" role="button" data-slide="next">
			    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			    <span class="sr-only">Next</span>
			  </a>
			</div>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Modal and carousel for how to analyse cadence -->
	<div class="modal fade" id="howToAnalyseCadenceModal" tabindex="-1" role="dialog" aria-labelledby="howToAnalyseCadenceModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="howToAnalyseCadenceModalLabel">How to analyse your running cadence</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <div id="howToAnalyseCadenceCarouselIndicators" class="carousel slide" >
			  <ol class="carousel-indicators">
			    <li data-target="#howToAnalyseCadenceCarouselIndicators" data-slide-to="0" class="active"></li>
			    <li data-target="#howToAnalyseCadenceCarouselIndicators" data-slide-to="1"></li>
			    <li data-target="#howToAnalyseCadenceCarouselIndicators" data-slide-to="2"></li>
			    <li data-target="#howToAnalyseCadenceCarouselIndicators" data-slide-to="3"></li>
			    <li data-target="#howToAnalyseCadenceCarouselIndicators" data-slide-to="4"></li>
			    <li data-target="#howToAnalyseCadenceCarouselIndicators" data-slide-to="5"></li>
			    <li data-target="#howToAnalyseCadenceCarouselIndicators" data-slide-to="6"></li>
			  </ol>
			  <div class="carousel-inner">
			    <div class="carousel-item mb-5 active">
			      <img class="d-block w-100" src="/static/img/how_to_analyse_cadence_step_1.jpg" alt="Step 1">
			      <hr class="featurette-divider" />
			      <p><small>Training Ticks gives you tools to understand your natural cadence (steps per minute) and target improvement, as well as measure your interval training. If you haven’t already, start by importing your runs using <strong>Connect With Strava</strong>.</small></p>
			    </div>
			    <div class="carousel-item mb-5">
			      <img class="d-block w-100" src="/static/img/how_to_analyse_cadence_step_2.jpg" alt="Step 2">
			      <hr class="featurette-divider" />
			      <p><small>Now click on any of your running activities to open up more detail including the cadence data. You can do this from under <strong>Recently added activity</strong>, or hop along to <strong>Analysis & Goals</strong> from the menu at the top to navigate by week.</small></p>
			    </div>
			    <div class="carousel-item mb-5">
			      <img class="d-block w-100" src="/static/img/how_to_analyse_cadence_step_3.jpg" alt="Step 3">
			      <hr class="featurette-divider" />
			      <p><small>The first time you open an activity in Training Ticks it will connect to Strava again to retrieve more detailed cadence data, and present you with 2 charts to visualise how much time you spent at any given cadence (in steps per minute), and how much time you spent in total above any given cadence.</small></p>
			    </div>
			    <div class="carousel-item mb-5">
			      <img class="d-block w-100" src="/static/img/how_to_analyse_cadence_step_4.jpg" alt="Step 4">
			      <hr class="featurette-divider" />
			      <p><small>Cadence analysis gives you a great way to measure your interval training, where you'll typically see two peaks on the left chart - one for intervals and another for your normal/recovery pace. From the chart on the right you can easily see how much time you spent doing intervals and at what cadence.</small></p>
			    </div>
			    <div class="carousel-item mb-5">
			      <img class="d-block w-100" src="/static/img/how_to_analyse_cadence_step_5.jpg" alt="Step 5">
			      <hr class="featurette-divider" />
			      <p><small>If you make your way to <strong>Analysis & Goals</strong> from the menu at the top you can see your cumulative cadence stats across each week by clicking on the tab for <strong>Time Spent Above Cadence</strong>. Note that you must have viewed the activities for that week first in order to process the cadence data.</small></p>
			    </div>
			    <div class="carousel-item mb-5">
			      <img class="d-block w-100" src="/static/img/how_to_analyse_cadence_step_6.jpg" alt="Step 6">
			      <hr class="featurette-divider" />
			      <p><small>You might be wondering why the charts are all in a rather dull dark grey! You can fix that easily by going to <strong>Manage Exercises</strong> from the top menu and then clicking on the <strong>Exercise Categories</strong> tab. Choose your favourite colour from those available, and type in "Run", then click the <strong>Save Changes</strong> button.</small></p>
			    </div>
			    <div class="carousel-item mb-5">
			      <img class="d-block w-100" src="/static/img/how_to_analyse_cadence_step_7.jpg" alt="Step 7">
			      <hr class="featurette-divider" />
			      <p><small>Now go back to the <strong>Analysis & Goals</strong> page, or one of your activities, and admire the much prettier graphs!</small></p>
			    </div>
			  </div>
			  <a class="carousel-control-prev" href="#howToAnalyseCadenceCarouselIndicators" role="button" data-slide="prev">
			    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="carousel-control-next" href="#howToAnalyseCadenceCarouselIndicators" role="button" data-slide="next">
			    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			    <span class="sr-only">Next</span>
			  </a>
			</div>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Modal and carousel for how to categorise your exercises -->
	<div class="modal fade" id="howToCategoriseExercisesModal" tabindex="-1" role="dialog" aria-labelledby="howToCategoriseExercisesModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="howToCategoriseExercisesModalLabel">How to categorise your exercises</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <div id="howToCategoriseExercisesCarouselIndicators" class="carousel slide" >
			  <ol class="carousel-indicators">
			    <li data-target="#howToCategoriseExercisesCarouselIndicators" data-slide-to="0" class="active"></li>
			    <li data-target="#howToCategoriseExercisesCarouselIndicators" data-slide-to="1"></li>
			    <li data-target="#howToCategoriseExercisesCarouselIndicators" data-slide-to="2"></li>
			    <li data-target="#howToCategoriseExercisesCarouselIndicators" data-slide-to="3"></li>
			    <li data-target="#howToCategoriseExercisesCarouselIndicators" data-slide-to="4"></li>
			    <li data-target="#howToCategoriseExercisesCarouselIndicators" data-slide-to="5"></li>
			    <li data-target="#howToCategoriseExercisesCarouselIndicators" data-slide-to="6"></li>
			  </ol>
			  <div class="carousel-inner">
			    <div class="carousel-item mb-5 active">
			      <img class="d-block w-100" src="/static/img/how_to_categorise_exercises_step_1.jpg" alt="Step 1">
			      <hr class="featurette-divider" />
			      <p><small>Exercise categories enable you to customise the Training Ticks user interface for the way that you think about your training. So for example I might want to classify Calf raises and Press ups in the screenshot above as "Strength" exercises, and Calf stretch as a "Stretch" exercise. Training Ticks doesn't prescribe any categories by default, which means that until you set up any categories everything will have a rather dull and grey look. Let's change that!</small></p>
			    </div>
			    <div class="carousel-item mb-5">
			      <img class="d-block w-100" src="/static/img/how_to_categorise_exercises_step_2.jpg" alt="Step 2">
			      <hr class="featurette-divider" />
			      <p><small>Go to the menu at the top and select <strong>Manage Exercises</strong>. The first tab it loads up enables you to edit the exercises types themselves, so click on the next tab along for <strong>Exercise Categories</strong>.</small></p>
			    </div>
			    <div class="carousel-item mb-5">
			      <img class="d-block w-100" src="/static/img/how_to_categorise_exercises_step_3.jpg" alt="Step 3">
			      <hr class="featurette-divider" />
			      <p><small>Training Ticks currently allows you to set up to 8 categories - 4 based on filled colours and 4 based on an outline border. For this example I've decided to use the solid blue category for "Strength" and the outine blue category for "Stretch".</small></p>
			    </div>
			    <div class="carousel-item mb-5">
			      <img class="d-block w-100" src="/static/img/how_to_categorise_exercises_step_4.jpg" alt="Step 4">
			      <hr class="featurette-divider" />
			      <p><small>Any exercises you've created up to now will remain uncategorised until we edit them, so hop back to the <strong>Exercise Types</strong> tab and click the <strong>Edit</strong> link next to each of your exercises.</small></p>
			    </div>
			    <div class="carousel-item mb-5">
			      <img class="d-block w-100" src="/static/img/how_to_categorise_exercises_step_5.jpg" alt="Step 5">
			      <hr class="featurette-divider" />
			      <p><small>Now that you're using categories you'll see a drop down menu allowing you to choose the relevant one for each exercise, so set this to the value you want and click <strong>Update Exercise Type</strong>.</small></p>
			    </div>
			    <div class="carousel-item mb-5">
			      <img class="d-block w-100" src="/static/img/how_to_categorise_exercises_step_6.jpg" alt="Step 6">
			      <hr class="featurette-divider" />
			      <p><small>Once you've updated your exercise types, return to the home page and check out the buttons that should now be colour-coded according to the changes you've just made. Next time you log a New Exercise Type the category option will be available immediately.</small></p>
			    </div>
			    <div class="carousel-item mb-5">
			      <img class="d-block w-100" src="/static/img/how_to_categorise_exercises_step_7.jpg" alt="Step 7">
			      <hr class="featurette-divider" />
			      <p><small>The same colour-coding scheme will be used across the rest of the Training Ticks user interface, so for example if you pop along to the <strong>Analysis & Goals</strong> page you'll see the charts now use your category colours, as does the summary for your weekly activity.</small></p>
			    </div>
			  </div>
			  <a class="carousel-control-prev" href="#howToCategoriseExercisesCarouselIndicators" role="button" data-slide="prev">
			    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="carousel-control-next" href="#howToCategoriseExercisesCarouselIndicators" role="button" data-slide="next">
			    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			    <span class="sr-only">Next</span>
			  </a>
			</div>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Modal and carousel for how to set goals -->
	<div class="modal fade" id="howToSetTrainingGoalsModal" tabindex="-1" role="dialog" aria-labelledby="howToSetTrainingGoalsModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="howToSetTrainingGoalsModalLabel">How to set and track training goals</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <div id="howToSetTrainingGoalsCarouselIndicators" class="carousel slide" >
			  <ol class="carousel-indicators">
			    <li data-target="#howToSetTrainingGoalsCarouselIndicators" data-slide-to="0" class="active"></li>
			    <li data-target="#howToSetTrainingGoalsCarouselIndicators" data-slide-to="1"></li>
			    <li data-target="#howToSetTrainingGoalsCarouselIndicators" data-slide-to="2"></li>
			    <li data-target="#howToSetTrainingGoalsCarouselIndicators" data-slide-to="3"></li>
			    <li data-target="#howToSetTrainingGoalsCarouselIndicators" data-slide-to="4"></li>
			    <li data-target="#howToSetTrainingGoalsCarouselIndicators" data-slide-to="5"></li>
			  </ol>
			  <div class="carousel-inner">
			    <div class="carousel-item mb-5 active">
			      <img class="d-block w-100" src="/static/img/how_to_set_goals_step_1.jpg" alt="Step 1">
			      <hr class="featurette-divider" />
			      <p><small>Start by going to the <strong>Analysis & Goals</strong> page from the menu at the top. Since you don't have any goals set up yet let's go the cadence chart and set a goal from there, so click on the <strong>Time Spent Above Cadence</strong> tab.</small></p>
			    </div>
			    <div class="carousel-item mb-5">
			      <img class="d-block w-100" src="/static/img/how_to_set_goals_step_2.jpg" alt="Step 2">
			      <hr class="featurette-divider" />
			      <p><small>In this section you can click into the charts to set yourself goals for the week on specific metrics. In this example I want to spend more time running at a higher cadence, so I'm going to set a goal for my total time spent above 168 steps per minute, by clicking on the bar within the chart.</small></p>
			    </div>
			    <div class="carousel-item mb-5">
			      <img class="d-block w-100" src="/static/img/how_to_set_goals_step_3.jpg" alt="Step 3">
			      <hr class="featurette-divider" />
			      <p><small>The form that pops up defaults to "This Week" (although I could set the goal for next week if I prefer). For my goal here I want to get up to 90 minutes at 168. If I'd clicked on the wrong bar in the previous step I can also change the cadence for this goal. Click <strong>Set Goal</strong> once you're happy.</small></p>
			    </div>
			    <div class="carousel-item mb-5">
			      <img class="d-block w-100" src="/static/img/how_to_set_goals_step_4.jpg" alt="Step 4">
			      <hr class="featurette-divider" />
			      <p><small>You'll be returned to the <strong>Goal Progress</strong> tab which shows how you're doing so far against all your goals for the week. You can set as many as you like.</small></p>
			    </div>
			    <div class="carousel-item mb-5">
			      <img class="d-block w-100" src="/static/img/how_to_set_goals_step_5.jpg" alt="Step 5">
			      <hr class="featurette-divider" />
			      <p><small>Go back to the <strong>Time Spent Above Cadence</strong> tab where you'll now see the goal target plotted on the cadence chart.  You can also see a graph showing your historic weekly trend for the cadence you're targeting.</small></p>
			    </div>
			    <div class="carousel-item mb-5">
			      <img class="d-block w-100" src="/static/img/how_to_set_goals_step_6.jpg" alt="Step 6">
			      <hr class="featurette-divider" />
			      <p><small>If you've been using Strava for a while you probably will have lots of activities that Training Ticks hasn't processed the cadence data for yet. So to make your historic chart accurate you may need to click the link to <strong>backfill your cadence data</strong>. This feature still needs to be refined a little so will take a few minutes if you have lots of activities.</small></p>
			    </div>
			  </div>
			  <a class="carousel-control-prev" href="#howToSetTrainingGoalsCarouselIndicators" role="button" data-slide="prev">
			    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="carousel-control-next" href="#howToSetTrainingGoalsCarouselIndicators" role="button" data-slide="next">
			    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			    <span class="sr-only">Next</span>
			  </a>
			</div>
	      </div>
	    </div>
	  </div>
	</div>
{% endblock %}