{% extends "bootstrap/base.html" %}
{% import "bootstrap/google.html" as google %}

{% block title %}
		{% if title %}
			{{ title }} - Training Ticks
		{% else %}
			Training Ticks
		{% endif %}
{% endblock %}

{% block scripts %}
	{{ super() }}
	{{ google.uanalytics("UA-127378589-1") }}
	{{ moment.include_moment() }}
	{{ moment.locale("en-gb") }}
{% endblock %}

{% block styles %}
	{{ super() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
	<style>
		.tt-navbar {
			background-color: #1d5454;
		}

		.tt-heading {
			color: #1d5454;
		}

		.navbar-dark .navbar-nav .nav-link {
			color: #cdcdcd;
		}

		.card {
			border-color: #1d5454;
		}

		.card-header {
			border-color: #1d5454;
			background-color: #ededed;
		}

		.btn {
		    margin: 2px 0px;
		}

		/* TODO: Can probably find a better way to adjust the whole bootstrap theme */
		.btn-success {
			background-color: #588157;
			border-color: #588157;
		}

		.btn-danger {
			background-color: #ef6461;
			border-color: #ef6461;
		}

		.btn-warning {
			background-color: #e4b363;
			border-color: #e4b363;
		}

		.btn-primary {
			background-color: #3f7eba;
			border-color: #3f7eba;
		}

		.btn-outline-success {
			color: #588157;
			border-color: #588157;
		}

		.btn-outline-danger {
			color: #ef6461;
			border-color: #ef6461;
		}

		.btn-outline-warning {
			color: #e4b363;
			border-color: #e4b363;
		}

		.btn-outline-primary {
			color: #3f7eba;
			border-color: #3f7eba;
		}

		.bg-success {
			background-color: #588157!important;
		}

		.bg-danger {
			background-color: #ef6461!important;
		}

		.bg-warning {
			background-color: #e4b363!important;
		}

		.bg-primary {
			background-color: #3f7eba!important;
		}
		
		.border-success {
			border-color: #588157!important;
		}

		.border-danger {
			border-color: #ef6461!important;
		}

		.border-warning {
			border-color: #e4b363!important;
		}

		.border-primary {
			border-color: #3f7eba!important;
		}

		.exercise-buttons {
			text-align: left;
		}

		.card-header a {
			color: inherit;
		}

		.dropdown-menu-scrollable {
			height: auto;
			max-height: 250px; 
		    overflow-x:auto;
		    -webkit-overflow-scrolling:touch;
		    -moz-overflow-scrolling:touch;
		    -ms-overflow-scrolling:touch;
		    -o-overflow-scrolling:touch;
		    overflow-scrolling:touch;
		}

		.cat_green {
			background-color: #588157;
			border-color: #588157;
			color: #ffffff;
		}

		.cat_green_outline {
			background-color: #ffffff;
			border-color: #588157;
			border-width: 2px;
			color: #588157;
		}

		.cat_green_border_only, .cat_green_outline_border_only {
			border-color: #588157;
			border-width: 2px;
		}

		.cat_blue {
			background-color: #3f7eba;
			border-color: #3f7eba;
			color: #ffffff; 
		}

		.cat_blue_outline {
			background-color: #ffffff;
			border-color: #3f7eba;
			color: #3f7eba;
		}

		.cat_blue_border_only, .cat_blue_outline_border_only {
			border-color: #3f7eba;
			border-width: 2px;
		}	

		.cat_red {
			background-color: #ef6461;
			border-color: #ef6461;
			color: #ffffff; 
		}

		.cat_red_outline {
			background-color: #ffffff;
			border-color: #ef6461;
			color: #ef6461; 
		}	

		.cat_red_border_only, .cat_red_outline_border_only {
			border-color: #ef6461;
			border-width: 2px;
		}	

		.cat_yellow {
			background-color: #e4b363;
			border-color: #e4b363;
			color: #292b2c; 
		}

		.cat_yellow_outline {
			background-color: #ffffff;
			border-color: #e4b363;
			color: #e4b363;
		}

		.cat_yellow_border_only, .cat_yellow_outline_border_only {
			border-color: #e4b363;
			border-width: 2px;
		}	

		.featurette-image {
			 border: 1px solid #B6DBCA;
		}

		.strava-link-img {
			max-height: 30px;
		}

		h1 {
			color: #1d5454;
		}

		h2 {
			color: #1d5454;
			margin-top: 20px; /* TODO: Bin these off and use the boostrap mt classes */;
		}

		h3 {
			color: #1d5454;
			margin-top: 20px;
		}

		h4 {
			color: #1d5454;
		}

		h5 {
			color: #1d5454;
			margin-top: 20px;
		}
	</style>
{% endblock %}

{% block navbar %}
	<nav class="navbar navbar-expand-lg navbar-dark tt-navbar mb-2">
	    <div class="container">
	        <a class="navbar-brand" href="{{ url_for('index') }}"><i class="fa fa-check-circle" style="color: #ededed;"></i> Training Ticks</a>
	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			</button>
	        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
	                {% if current_user.is_anonymous %}
	           			<ul class="nav navbar-nav ml-auto mt-2 mt-lg-0">
	                	</ul>
	                {% else %}
	                	<ul class="navbar-nav ml-md-auto mt-2 mt-lg-0">
		                	<li class="navbar-item" id="home-nav"><a class="nav-link" href="{{ url_for('index') }}"><i class="fa fa-home"></i> Home</a></li>
		                	<li class="navbar-item" id="activity-nav"><a class="nav-link" href="{{ url_for('weekly_activity', year='2018') }}"><i class="fa fa-bar-chart"></i> Analysis & Goals</a></li>
		                	<li class="navbar-item" id="schedule-nav"><a class="nav-link" href="{{ url_for('schedule', schedule_freq='weekly') }}"><i class="fa fa-calendar"></i> Training Plan</a></li>
		                	<li class="navbar-item" id="manage-exercises-nav"><a class="nav-link" href="{{ url_for('exercise_types') }}"><i class="fa fa-tags"></i> Manage Exercises</a></li>
		                	<li class="navbar-item"><a class="nav-link" href="{{ url_for('auth.logout') }}"><i class="fa fa-sign-out"></i> Logout</a></li>
	                	</ul>
	                {% endif %}
	            </ul>
	        </div>
    </div>
	</nav>
{% endblock %}

{% block content %}
	<div class="container">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-info" role="alert">{{ message }}</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
		{% block app_content %}{% endblock %}
	</div>
	<!-- FOOTER -->
    <footer class="container">
    	<hr class="featurette-divider mt-5" />
    	<div class="row">
    		<div class="col-md-9">
    			<p>&copy; 2018 Training Ticks &middot; <a href="{{ url_for('privacy_policy') }}">Privacy</a> &middot; <a href="mailto:support@trainingticks.com">support@trainingticks.com</a></p>
    		</div>
    		<div class="col-md-3 text-right">
        		<a href="http://www.strava.com"><img class="img-fluid mx-auto strava-link-img" src="/static/img/api_logo_cptblWith_strava_horiz_light.png" /></a>
        	</div>
    	</div>
    </footer>
{% endblock %}