{% extends "bootstrap/base.html" %}
{% import "bootstrap/google.html" as google %}

{% block title %}
		{% if title %}
			{{ title }} - Fitness Logs
		{% else %}
			Welcome to Fitness Logs
		{% endif %}
{% endblock %}

{% block scripts %}
	{{ super() }}
	{{ google.uanalytics("UA-127378589-1") }}
	{{ moment.include_moment() }}
	{{ moment.locale("en-gb") }}
{% endblock %}

{% block styles %}
	{{ super() }}
	<style>
		.btn {
		    margin: 2px 0px;
		}
	</style>
{% endblock %}

{% block navbar %}
	<nav class="navbar navbar-default">
	    <div class="container">
	        <div class="navbar-header">
	            <a class="navbar-brand" href="{{ url_for('index') }}">Fitness Logs</a>
	        </div>
	        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	            <ul class="nav navbar-nav">
	                <li><a href="{{ url_for('index') }}">Home</a></li>
	            </ul>
	            <ul class="nav navbar-nav navbar-right">
	                {% if current_user.is_anonymous %}
	                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
	                {% else %}
	                <li class="navbar-text">Logged in as {{ current_user.email }}</li>
	                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
	                {% endif %}
	            </ul>
	        </div>
    </div>
	</nav>
{% endblock %}

{% block content %}
	<div class="container">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-info" role="alert">{{ message }}</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
		{% block app_content %}{% endblock %}
	</div>
{% endblock %}