{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block scripts %}
	{{ super() }}

	<script>
		$("#manage-exercises-nav").addClass("active");
	</script>

	{% if show_strava_categories_modal %}
		<script>
			$('#stravaCategoriesModal').modal('show');
		</script>
	{% endif %}

	{% if show_exercise_categories_modal %}
		<script>
			$('#exerciseCategoriesModal').modal('show');
		</script>
	{% endif %}
{% endblock %}

{% block app_content %}
	<h2>Manage Exercises</h2>
	<ul class="nav nav-tabs mb-2">
		<li class="nav-item"><a class="nav-link" href="{{ url_for('exercise_types') }}">Exercise Types</a></li>
		<li class="nav-item"><a class="nav-link active" href="{{ url_for('categories') }}">Exercise Categories</a></li>
	</ul>
	<p>Categories enable you to colour-code your exercises and segment them when tracking your activity.  Name your categories however you want to in order to suit the way that you train.</p>
	<p>You can create up to 8 categories by entering their names into the boxes below.</p>
	<form action="" method="post" novalidate>
    	{{ categories_form.hidden_tag() }}
		<div class="row">
			<div class="col-md-5">
				<div class="p-3 mb-2 bg-success text-white border border-success">
					{{ categories_form.cat_green() }}
					{% for error in categories_form.cat_green.errors %}
		            	[{{ error }}]
		            {% endfor %}
				</div>
			</div>
			<div class="col-md-5">
				<div class="p-3 mb-2 border border-success">
					{{ categories_form.cat_green_outline() }}
					{% for error in categories_form.cat_green_outline.errors %}
		            	[{{ error }}]
		            {% endfor %}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<div class="p-3 mb-2 bg-primary text-white border border-primary">
					{{ categories_form.cat_blue() }}
					{% for error in categories_form.cat_blue.errors %}
		            	[{{ error }}]
		            {% endfor %}
				</div>
			</div>
			<div class="col-md-5">
				<div class="p-3 mb-2 border border-primary">
					{{ categories_form.cat_blue_outline() }}
					{% for error in categories_form.cat_blue_outline.errors %}
		            	[{{ error }}]
		            {% endfor %}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<div class="p-3 mb-2 bg-danger text-white border border-danger">
					{{ categories_form.cat_red() }}
					{% for error in categories_form.cat_red.errors %}
		            	[{{ error }}]
		            {% endfor %}
				</div>
			</div>
			<div class="col-md-5">
				<div class="p-3 mb-2 border border-danger">
					{{ categories_form.cat_red_outline() }}
					{% for error in categories_form.cat_red_outline.errors %}
		            	[{{ error }}]
		            {% endfor %}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<div class="p-3 mb-2 bg-warning text-white border border-warning">
					{{ categories_form.cat_yellow() }}
					{% for error in categories_form.cat_yellow.errors %}
		            	[{{ error }}]
		            {% endfor %}
				</div>
			</div>
			<div class="col-md-5">
				<div class="p-3 mb-2 border border-warning">
					{{ categories_form.cat_yellow_outline() }}
					{% for error in categories_form.cat_yellow_outline.errors %}
		            	[{{ error }}]
		            {% endfor %}
				</div>
			</div>
		</div>
		{{ categories_form.submit() }}
	</form>

	<!-- Modal for helping people set up categories -->
	{% if show_exercise_categories_modal %}
		<div class="modal fade" id="exerciseCategoriesModal" tabindex="-1" role="dialog" aria-labelledby="exerciseCategoriesModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exerciseCategoriesModalLabel">Set up your exercise categories</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>Choose names and colours for the categories that you want to use, and then click <strong>Save Changes</strong>. Note that values of <strong>Run</strong>, <strong>Ride</strong> and <strong>Swim</strong> will be automatically associated with any Strava activities of these types.</p>
				<p>After you've saved your categories you can go to the <strong>Exercise Types</strong> tab to edit the ones you have so far and select a category.</p>
				<p>The colours you choose will be used throughout the rest of the site (e.g. activity pages, charts etc.) to help you analyse your activity more effectively.</p>
				<p>
					<button class="btn btn-primary" data-dismiss="modal" aria-label="Close">Understood!</button>
					<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#howToCategoriseExercisesModal">Show me step by step</a>
				</p>
			</div>
		</div>
		</div>
	{% endif %}

	{% if show_strava_categories_modal %}
		<div class="modal fade" id="stravaCategoriesModal" tabindex="-1" role="dialog" aria-labelledby="stravaCategoriesModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="stravaCategoriesModalLabel">Choose colours for your Strava activities</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <p>Enter values of <strong>Run</strong>, <strong>Ride</strong> and/or <strong>Swim</strong> into the coloured boxes on this page, and Training Ticks will automatically associate the Strava activities you've imported with these categories. Click <strong>Save Changes</strong> once you're happy.</p>
		    	<p>The colours you choose will be used throughout the rest of the site (e.g. activity pages, charts etc.) to help you analyse your activity more effectively.</p>
		        <p>
		        	<button class="btn btn-primary" data-dismiss="modal" aria-label="Close">Understood!</button>
		        </p>
		    </div>
		  </div>
		</div>
	{% endif %}
{% endblock %}