{% extends "base.html" %}

{% block styles %}
	{{ super() }}

	<script>
		$("#activity-nav").addClass("active");
	</script>
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css" rel="stylesheet" />
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.js"></script>
    {{ plot_by_day_script|safe }}
    {{ plot_by_type_script|safe }}
{% endblock %}

{% block app_content %}
	<h2>{{ title }}</h2>
	<div class="row">
		<div class="col-7">
			<h5>Completed Exercise Sets by Day</h5>
			{{ plot_by_day_div|safe }}
		</div>
		<div class="col-5">
			<h5>Completed Exercise Sets by Type</h5>
			{{ plot_by_type_div|safe }}
		</div>
	</div>
	<ul class="nav nav-tabs mt-4">
		<li class="nav-item">
			<a class="nav-link {% if mode == 'summary' %} active {% endif %}" href="{{ url_for('activity', mode='summary') }}">Summary</a>
		</li>
		<li class="nav-item">
			<a class="nav-link {% if mode == 'detail' %} active {% endif %}" href="{{ url_for('activity', mode='detail') }}">Detail</a>
		</li>
	</ul>
	
{% endblock %}