{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block scripts %}
	{{ super() }}

	<script>
		opt = $("#measured_by").val();

		if (opt == "reps") {
			$("#reps").show();
			$("label[for='reps']").show();
		   	$("#seconds").hide();
			$("label[for='seconds']").hide();
		}
		else if (opt == "seconds") {
		   	$("#reps").hide();
			$("label[for='reps']").hide();
		   	$("#seconds").show();
			$("label[for='seconds']").show();
		}
	</script>
{% endblock %}

{% block app_content %}
	<h2>Edit {% if form.sets %} Scheduled {% endif %} Exercise</h2>
	<div class="row">
		<div class="col-md-4">
			<p><label class="control-label">Exercise Name</label><br />{{ exercise_name }}</p>
			{{ wtf.quick_form(form) }}
		</div>
	</div>
{% endblock %}