{% extends "base.html" %}

{% block scripts %}
	{{ super() }}

	<script>
		$("#home-nav").addClass("active");
	</script>
{% endblock %}

{% block app_content %}
	<div class="row align-items-end">
		<div class="col-md">
			<h3>Recently added activity</h3>
		</div>
		<div class="col-md">
			<ul class="nav justify-content-end">
		 		{% if prev_url %}
		 			<li class="nav-item">
		 				<a class="nav-link" href="{{ prev_url }}"><i class="fa fa-backward"></i> More recent activity</a>
		 			</li>
		 		{% endif %}
		 		{% if next_url %}
		 			<li class="nav-item">
		 				<a class="nav-link" href="{{ next_url }}"><i class="fa fa-forward"></i> Older activity</a>
		 			</li>
		 		{% endif %}
		 	</ul>
	 	</div>
 	</div>
	<table class="table table-sm table-hover">
		{% for activity in recent_activities %}
			<tr>
				<td>{{ moment(activity.created_datetime).calendar() }}</td>
				<td>
					{% if activity.scheduled_exercise_id %}
						<i class="fa fa-check-square-o"></i>
					{% elif activity.is_race %}
						<i class="fa fa-flag-checkered"></i>
					{% endif %}
					{{ activity.name }}
				</td>
				<td>
					{% if activity.measured_by == "reps" %}
						{{ activity.reps }} reps
					{% elif activity.measured_by == "seconds" %}
						{{ activity.seconds }} secs
					{% elif activity.measured_by == "distance" %}
						{{ activity.distance }} m
					{% endif %}
				</td>
				<td>
					{% if activity.source == "Exercise" %}
						<a href="{{ url_for('edit_exercise', id=activity.id) }}"><i class="fa fa-edit"></i> Edit</a>
					{% elif activity.source == "Strava" %}
						<a href="https://www.strava.com/activities/{{ activity.external_id }}">View on Strava</a>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</table>

	{% if scheduled_exercises or has_completed_schedule %}
		<div class="card">
			<div class="card-header">
				<h4>Log exercises from Training Plan</h4>
			</div>
			<div class="card-body exercise-buttons">
				{% if has_completed_schedule %}
					<div class="alert alert-success">
						<i class="fa fa-check-square-o fa-lg"></i> Great work! You've ticked off your planned exercises for today!
					</div>
				{% endif %}
				{% for scheduled_exercise in scheduled_exercises %}
					<a class="btn btn-sm
					{% if scheduled_exercise.category_key is none %}
						btn-outline-secondary
					{% elif scheduled_exercise.category_key == 'cat_green' %}
						btn-success
					{% elif scheduled_exercise.category_key == 'cat_green_outline' %}
						btn-outline-success
					{% elif scheduled_exercise.category_key == 'cat_blue' %}
						btn-primary
					{% elif scheduled_exercise.category_key == 'cat_blue_outline' %}
						btn-outline-primary
					{% elif scheduled_exercise.category_key == 'cat_red' %}
						btn-danger
					{% elif scheduled_exercise.category_key == 'cat_red_outline' %}
						btn-outline-danger
					{% elif scheduled_exercise.category_key == 'cat_yellow' %}
						btn-warning
					{% elif scheduled_exercise.category_key == 'cat_yellow_outline' %}
						btn-outline-warning
					{% endif %}
					" role="button" href="{{ url_for('log_exercise', scheduled='scheduled', id=scheduled_exercise.id) }}">
						<i class="fa fa-check-square-o"></i> {{ scheduled_exercise.name }}
						<br />
						<small>
							{% if scheduled_exercise.measured_by == "reps" %}
								[{{ scheduled_exercise.reps }} reps]
							{% elif scheduled_exercise.measured_by == "seconds" %}
								[{{ scheduled_exercise.seconds }} secs]
							{% endif %}
							<br />
							{{ (scheduled_exercise.sets - scheduled_exercise.completed_sets) }} sets to do
						</small>
					</a>
				{% endfor %}
			</div>
		</div>
	{% endif %}

	<div class="card">
			<div class="card-header">
				<h4>Import new activities from Strava</h4>
			</div>
			<div class="card-body exercise-buttons">
				<a href="{{ url_for('connect_strava', action='authorize') }}"><img src="/static/img/btn_strava_connectwith_orange.png" /></a>
			</div>
		</div>

	<div class="card">
		<div class="card-header">
			<h4>Log {% if scheduled_exercises or has_completed_schedule %}adhoc{% endif %} exercises</h4>
		</div>
		<div class="card-body exercise-buttons">
			<a class="btn btn-secondary btn-sm" role="button" href="{{ url_for('new_exercise', context="logging") }}">
				<i class="fa fa-check"></i> New Exercise Type
				<br /><small>&nbsp;</small>
			</a>
			{% for exercise_type in exercise_types %}
				<a class="btn btn-sm
				{% if exercise_type.category_key is none %}
					btn-outline-secondary
				{% elif exercise_type.category_key == 'cat_green' %}
					btn-success
				{% elif exercise_type.category_key == 'cat_green_outline' %}
					btn-outline-success
				{% elif exercise_type.category_key == 'cat_blue' %}
					btn-primary
				{% elif exercise_type.category_key == 'cat_blue_outline' %}
					btn-outline-primary
				{% elif exercise_type.category_key == 'cat_red' %}
					btn-danger
				{% elif exercise_type.category_key == 'cat_red_outline' %}
					btn-outline-danger
				{% elif exercise_type.category_key == 'cat_yellow' %}
					btn-warning
				{% elif exercise_type.category_key == 'cat_yellow_outline' %}
					btn-outline-warning
				{% endif %}
				" role="button" href="{{ url_for('log_exercise', scheduled='other', id=exercise_type.id) }}">
					<i class="fa fa-check"></i> {{ exercise_type.name }}
					<br />
					<small>
						{% if exercise_type.measured_by == "reps" %}
							[{{ exercise_type.default_reps }} reps]
						{% elif exercise_type.measured_by == "seconds" %}
							[{{ exercise_type.default_seconds }} secs]
						{% endif %}
					</small>
				</a>
			{% endfor %}
		</div>
	</div>
{% endblock %}