{% extends "base.html" %}

{% block scripts %}
	{{ super() }}

	<script>
		$("#home-nav").addClass("active");
	</script>

	{% if show_post_import_modal %}
		<script>
			$('#postStravaImportModal').modal('show');
		</script>
	{% endif %}

	{% if show_exercise_categories_modal %}
		<script>
			$('#exerciseCategoriesModal').modal('show');
		</script>
	{% endif %}

	{% if show_new_user_modal %}
		<script>
			$('#newUserModal').modal('show');
		</script>
	{% endif %}
{% endblock %}

{% block app_content %}
	{% if recent_activities|length > 0 %}
		<h4 class="mt-3">Your {{ utils.current_year() }} Stats</h4>
		<div class="row">
			{% for activity_type_stat in current_user.current_year_activity_stats().all() %}
				<div class="col {{ activity_type_stat.category_key }} m-2">
					<small>{{ activity_type_stat.activity_type }}:</small></br />
					<span class="display-4">{{ activity_type_stat.total_distance }}</span> km
				</div>
			{% endfor %}
			{% for exercise_category_stat in current_user.current_year_exercise_stats().all() %}
				<div class="col {{ exercise_category_stat.category_key }} m-2">
					<small>{{ exercise_category_stat.category_name }}:</small></br />
					<span class="display-4">{{ exercise_category_stat.total_sets }}</span> sets
				</div>
			{% endfor %}
		</div>
		<div class="row align-items-end">
			<div class="col-md">
				<h4 class="mt-3">Recently added activity</h4>
				<p>(Go to <a href="{{ url_for('weekly_activity', year='2018') }}">Analysis & Goals</a> to see more activity)</p>
			</div>
			<div class="col-md">
				<nav>
					<ul class="pagination-sm nav justify-content-end ml-auto mb-2">					
			 			<li class="page-item {% if not prev_url %}disabled{% endif %}">
			 				<a class="page-link" href="{{ prev_url }}">Newer</a>
			 			</li>
			 			<li class="page-item {% if not next_url %}disabled{% endif %}">
			 				<a class="page-link" href="{{ next_url }}">Older</a>
			 			</li>
					</ul>
				</nav>
		 	</div>
	 	</div>		
	{% endif %}
	<table class="table table-sm table-hover">
		{% for activity in recent_activities %}
			<tr>
				<td>{{ moment(activity.activity_datetime).calendar() }}</td>
				<td>
					{% if activity.scheduled_exercise_id %}
						<i class="fa fa-check-square-o"></i>
					{% elif activity.is_race %}
						<i class="fa fa-flag-checkered"></i>
					{% endif %}
					{% if activity.source == "Strava" %}
						<a href="{{ url_for('activity_analysis', id=activity.id) }}">{{ activity.name }}</a>
					{% else %}
						{{ activity.name }}
					{% endif %}
				</td>
				<td>
					{% if activity.measured_by == "reps" %}
						{{ activity.reps }} reps
					{% elif activity.measured_by == "seconds" %}
						{{ activity.seconds }} secs
					{% elif activity.measured_by == "distance" %}
						{{ utils.convert_m_to_km(activity.distance) }} km
					{% endif %}
				</td>
				<td>
					{% if activity.source == "Exercise" %}
						<a href="{{ url_for('edit_exercise', id=activity.id) }}"><i class="fa fa-edit"></i> Edit</a>
					{% elif activity.source == "Strava" %}
						<a href="https://www.strava.com/activities/{{ activity.external_id }}">View on Strava</a>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</table>

	{% if current_user.is_training_plan_user %}
		<div class="card">
			<div class="card-header">
				<h4>Log exercises from Training Plan</h4>
			</div>
			<div class="card-body exercise-buttons">

				{% if has_completed_schedule %}
					<div class="alert alert-success">
						<i class="fa fa-check-square-o fa-lg"></i> Great work! You've ticked off your planned exercises for today!
					</div>
				{% elif not original_exercises_for_today %}
					<p>You don't have any exercises planned for today. Chill out and let your muscles recover!</p>
				{% endif %}
				{% for scheduled_exercise in exercises_for_today_remaining %}
					<a class="btn btn-sm
					{% if scheduled_exercise.category_key is none %}
						btn-outline-secondary
					{% elif scheduled_exercise.category_key == 'cat_green' %}
						btn-success
					{% elif scheduled_exercise.category_key == 'cat_green_outline' %}
						btn-outline-success
					{% elif scheduled_exercise.category_key == 'cat_blue' %}
						btn-primary
					{% elif scheduled_exercise.category_key == 'cat_blue_outline' %}
						btn-outline-primary
					{% elif scheduled_exercise.category_key == 'cat_red' %}
						btn-danger
					{% elif scheduled_exercise.category_key == 'cat_red_outline' %}
						btn-outline-danger
					{% elif scheduled_exercise.category_key == 'cat_yellow' %}
						btn-warning
					{% elif scheduled_exercise.category_key == 'cat_yellow_outline' %}
						btn-outline-warning
					{% endif %}
					" role="button" href="{{ url_for('log_exercise', scheduled='scheduled', id=scheduled_exercise.id) }}">
						<i class="fa fa-check-square-o"></i> {{ scheduled_exercise.name }}
						<br />
						<small>
							{% if scheduled_exercise.measured_by == "reps" %}
								[{{ scheduled_exercise.reps }} reps]
							{% elif scheduled_exercise.measured_by == "seconds" %}
								[{{ scheduled_exercise.seconds }} secs]
							{% endif %}
							<br />
							{{ (scheduled_exercise.sets - scheduled_exercise.completed_sets) }} sets to do
						</small>
					</a>
				{% endfor %}
				<p class="mt-2 mb-0">
					<a href="#" data-toggle="modal" data-target="#editTodayPlanModal">Change Today's Plan</a> |
					<a href="{{ url_for('schedule', schedule_freq='weekly') }}">Full Training Plan</a>
				</p>
			</div>
		</div>
	{% endif %}

	<div class="card mt-2">
			<div class="card-header">
				<h4>Import new activities from Strava</h4>
			</div>
			<div class="card-body exercise-buttons">
				<a href="{{ url_for('connect_strava', action='authorize') }}"><img src="/static/img/btn_strava_connectwith_orange.png" /></a>
			</div>
		</div>

	<div class="card mt-2">
		<div class="card-header">
			<h4>Log adhoc exercises</h4>
		</div>
		<div class="card-body exercise-buttons">
			<a class="btn btn-secondary btn-sm" role="button" href="{{ url_for('new_exercise', context="logging") }}">
				<i class="fa fa-check"></i> New Exercise Type
				<br /><small>&nbsp;</small>
			</a>
			{% for exercise_type in exercise_types %}
				<a class="btn btn-sm
				{% if exercise_type.category_key is none %}
					btn-outline-secondary
				{% elif exercise_type.category_key == 'cat_green' %}
					btn-success
				{% elif exercise_type.category_key == 'cat_green_outline' %}
					btn-outline-success
				{% elif exercise_type.category_key == 'cat_blue' %}
					btn-primary
				{% elif exercise_type.category_key == 'cat_blue_outline' %}
					btn-outline-primary
				{% elif exercise_type.category_key == 'cat_red' %}
					btn-danger
				{% elif exercise_type.category_key == 'cat_red_outline' %}
					btn-outline-danger
				{% elif exercise_type.category_key == 'cat_yellow' %}
					btn-warning
				{% elif exercise_type.category_key == 'cat_yellow_outline' %}
					btn-outline-warning
				{% endif %}
				" role="button" href="{{ url_for('log_exercise', scheduled='other', id=exercise_type.id) }}">
					<i class="fa fa-check"></i> {{ exercise_type.name }}
					<br />
					<small>
						{% if exercise_type.measured_by == "reps" %}
							[{{ exercise_type.default_reps }} reps]
						{% elif exercise_type.measured_by == "seconds" %}
							[{{ exercise_type.default_seconds }} secs]
						{% endif %}
					</small>
				</a>
			{% endfor %}
		</div>
	</div>

	{% if not current_user.is_training_plan_user %}
		<div class="card mt-2">
			<div class="card-header">
				<h4>Log exercises from Training Plan</h4>
			</div>
			<div class="card-body">
				<div class="alert alert-success">
					<p>You don't yet have any exercises planned for today.  Why not set up a training plan to help get yourself into a routine and ultimately improve your performance. Check out the  <a href="#" data-toggle="modal" data-target="#howToCreateAndUseTrainingPlanModal">How To guide</a> if you need some help.</p>
					<p><a href="{{ url_for('schedule', schedule_freq='weekly') }}" class="btn btn-primary btn-sm">Set up weekly training plan</a></p>
				</div>
			</div>
		</div>
	{% endif %}

	<!-- Modal for encouraging new users -->
	{% if show_new_user_modal %}
		<div class="modal fade" id="newUserModal" tabindex="-1" role="dialog" aria-labelledby="newUserModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="newUserModalLabel">Thanks for signing up!</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
				<p>We're in the very early stages of our mission to help runners improve their training and keep themselves motivated. At the moment things are a little rough round 
				the edges, but we hope you'll find it useful!</p>
				<p>So far we've created features to let you set and track different types of goals, as well as drill down a bit more on the cadence and gradient data
				in your Strava activities. And if you want to complement your running with some strengthening exercises, Training Ticks gives you a tool 
				to easily log these with as few clicks as possible.</p>
				<p>We're adding new features every week so if you can't find the thing you're looking for then <strong>we're really keen to hear your ideas</strong>. Just drop us an 
				email at <a href="mailto:feedback@trainingticks.com">feedback@trainingticks.com</a>.</p>
		      </div>
			  <div class="modal-footer"
				<p><button class="btn btn-primary" data-dismiss="modal" aria-label="Close">Got it, let me have a play!</button></p>
			  </div>
		    </div>
		  </div>
		</div>
	{% endif %}

	<!-- Modal for pointing people at Manage Categories-->
	{% if show_exercise_categories_modal %}
		{% include '_exercise_categories_modal.html' %}
	{% endif %}

	<!-- Modal for directing people towards a feaure after importing from Strava -->
	{% if show_post_import_modal %}
		<div class="modal fade" id="postStravaImportModal" tabindex="-1" role="dialog" aria-labelledby="postStravaImportModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="postStravaImportModalLabel">How about setting some goals?</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <p>Setting weekly goals gives you a focus for your running and is super easy with Training Ticks on the <strong>Analysis & Goals</strong> section. You can choose from a number of metrics
				appropriate to the stage you're at within your training.</p>
		      </div>
			  <div class="modal-footer">
		    	<p>
		        	<a href="{{ url_for('weekly_activity', year='current') }}" class="btn btn-primary">Sounds great, take me there!</a>
		        	<button class="btn btn-secondary" data-dismiss="modal" aria-label="Close">No thanks, not now</button>
				</p>
			  </div>
		    </div>
		  </div>
		</div>
	{% endif %}

	<!-- Modal for changing today's training plan: This would really benefit from some async stuff -->
	<div class="modal fade" id="editTodayPlanModal" tabindex="-1" role="dialog" aria-labelledby="editTodayPlanModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="editTodayPlanModalLabel">Change your plan for today!</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<h6>Currently planned exercises</h6>
	        {% if original_exercises_for_today|length == 0 %}
				<p>You don't currently have any exercises planned for today.</p>
			{% else %}
			<table class="table table-sm table-hover">
				{% for exercise_for_today in original_exercises_for_today %}
					<tr>
						<td>{{ exercise_for_today.scheduled_exercise.type.name }}</td>
						<td>{{ exercise_for_today.scheduled_exercise.sets }} sets</td>
						<td>
							{% if exercise_for_today.scheduled_exercise.type.measured_by == "reps" %}
								{{ exercise_for_today.scheduled_exercise.reps }} reps
							{% elif exercise_for_today.scheduled_exercise.type.measured_by == "seconds" %}
								{{ exercise_for_today.scheduled_exercise.seconds }} secs
							{% endif %}
						</td>
						<td>
							<ul class="nav justify-content-end">
								<li class="nav-item mr-5">
									<a href="{{ url_for('remove_exercise_for_today', id=exercise_for_today.id) }}">
										<i class="fa fa-trash"></i> Remove</a>
								</li>
							</ul>
						</td>
					</tr>
				{% endfor %}
			</table>
			{% endif %}
			<h6>Add exercises</h6>
			<p>Busy on another day and needing to rejig your plan? Just click below to pull in exercises for any day.</p>
			<p>
				<a href="{{ url_for('add_to_today', selected_day='Mon') }}" class="btn btn-primary btn-sm">Mon</a>
				<a href="{{ url_for('add_to_today', selected_day='Tue') }}" class="btn btn-primary btn-sm">Tue</a>
				<a href="{{ url_for('add_to_today', selected_day='Wed') }}" class="btn btn-primary btn-sm">Wed</a>
				<a href="{{ url_for('add_to_today', selected_day='Thu') }}" class="btn btn-primary btn-sm">Thu</a>
				<a href="{{ url_for('add_to_today', selected_day='Fri') }}" class="btn btn-primary btn-sm">Fri</a>
				<a href="{{ url_for('add_to_today', selected_day='Sat') }}" class="btn btn-primary btn-sm">Sat</a>
				<a href="{{ url_for('add_to_today', selected_day='Sun') }}" class="btn btn-primary btn-sm">Sun</a>
			</p>
		  </div>
	    </div>
	  </div>
	</div>
{% endblock %}