{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
	<h2>Privacy Policy</h2>

	<h5>Data we collect and process</h5>
	<p>In order to provide the core services of Training Ticks, we collect the following information with your consent:</p>
	<ul>
		<li>Your Google email address</li>
		<li>Data that you input directly to Training Ticks relating to your exercise activity</li>
		<li>Activity data from Strava that you authorise Training Ticks to import</li>
		<li>Which features you’ve used so that we can provide you with a more relevant user experience</li>
	</ul>
	<p>We will continue to process and store your information under this basis until you withdraw consent or it is determined your consent no longer exists. Should you wish to withdraw your consent you can contact us via <a href="mailto:support@trainingticks.com">support@trainingticks.com</a>.</p>
	<p>We do not share your information with third parties.</p>

	<h5>Use of Cookies</h5>
	<p>We use cookies on our website to provide you with a better user experience. We do this by placing a small text file on your device / computer hard drive to keep you logged into the website where applicable. Your web browser should provide you with the controls to manage and delete cookies from your device.</p>
 
	<h5>Website analytics</h5>
	<p>Your visits to Training Ticks and the pages that you view are tracked in an anonymised fashion using Google Analytics. This is to allow us to understand how our visitors are collectively using the site and optimise the features and user experience accordingly.</p>
 	<p>No personally identifiable information is included in what we track, but if you wish to opt out of Google Analytics for Training Ticks or any other website you can do so with the <a href="https://tools.google.com/dlpage/gaoptout">Google Analytics opt-out browser add-on</a>.

 	<h5>Contacting us</h5>
 	<p>For any questions or clarification regarding your privacy or use of your data, or if you need to complain about the way your information is being used by Training Ticks, please email <a href="mailto:support@trainingticks.com">support@trainingticks.com</a>.</p>

{% endblock %}