{% extends "base.html" %}

{% block scripts %}
	{{ super() }}

	<script>
		$("#schedule-nav").addClass("active");
	</script>
{% endblock %}

{% block app_content %}
	<h2>Training Plan</h2>
	<ul class="nav nav-tabs">
		{% for day in schedule_days %}
			<li class="nav-item">
				<a class="nav-link {% if day == selected_day %} active {% endif %}" href="{{ url_for('schedule', schedule_freq='weekly', selected_day=day) }}">{{day}}</a>
			</li>
		{% endfor %}
	</ul>

	<table class="table table-sm table-hover">
		{% for scheduled_exercise in scheduled_exercises %}
			<tr>
				<td>{{ scheduled_exercise.type.name }}</td>
				<td>{{ scheduled_exercise.sets }} sets</td>
				<td>
					{% if scheduled_exercise.type.measured_by == "reps" %}
						{{ scheduled_exercise.reps }} reps
					{% elif scheduled_exercise.type.measured_by == "seconds" %}
						{{ scheduled_exercise.seconds }} secs
					{% endif %}
				</td>
				<td><a href="{{ url_for('edit_scheduled_exercise', id=scheduled_exercise.id) }}"><i class="fa fa-edit"></i> Edit</a></td>
			</tr>
		{% endfor %}
	</table>

	<div class="card">
		<div class="card-header">
			<h4>Add to Plan</h4>
		</div>
		<div class="card-body exercise-buttons">
			<a class="btn btn-secondary btn-sm" role="button" href="{{ url_for('new_exercise', context='scheduling', selected_day=selected_day) }}">
				<i class="fa fa-calendar-plus-o"></i> New Exercise Type
				<br /><small>&nbsp;</small>
			</a>
			{% for exercise_type in exercise_types %}
				<a class="btn btn-sm 
				{% if exercise_type.category_key is none %}
					btn-outline-secondary
				{% elif exercise_type.category_key == 'cat_green' %}
					btn-success
				{% elif exercise_type.category_key == 'cat_green_outline' %}
					btn-outline-success
				{% elif exercise_type.category_key == 'cat_blue' %}
					btn-primary
				{% elif exercise_type.category_key == 'cat_blue_outline' %}
					btn-outline-primary
				{% elif exercise_type.category_key == 'cat_red' %}
					btn-danger
				{% elif exercise_type.category_key == 'cat_red_outline' %}
					btn-outline-danger
				{% elif exercise_type.category_key == 'cat_yellow' %}
					btn-warning
				{% elif exercise_type.category_key == 'cat_yellow_outline' %}
					btn-outline-warning
				{% endif %}
				" role="button" href="{{ url_for('schedule_exercise', id=exercise_type.id, selected_day=selected_day) }}">
					<i class="fa fa-calendar-plus-o"></i> {{ exercise_type.name }}
					<br />
					<small>
						{% if exercise_type.measured_by == "reps" %}
							[{{ exercise_type.default_reps }} reps]
						{% elif exercise_type.measured_by == "seconds" %}
							[{{ exercise_type.default_seconds }} secs]
						{% endif %}
					</small>
				</a>
			{% endfor %}
		</div>
	</div>
{% endblock %}