{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
	{{ super() }}
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-1.0.1.min.css" rel="stylesheet" />
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.1.min.css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
	{{ super() }}

	<script>
		$("#activity-nav").addClass("active");
		Bokeh.index["blue_fig"].resize();
	</script>
	<script src="http://cdn.pydata.org/bokeh/release/bokeh-1.0.1.min.js"></script>
	<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.1.min.js"></script>
	{% if weekly_summary_plot_script != None %}
		{{ weekly_summary_plot_script|safe }}
	{% endif %}
	{% if above_cadence_plot_script != None %}
		{{ above_cadence_plot_script|safe }}
	{% endif %}
	{% if exercise_sets_plot_script != None %}
		{{ exercise_sets_plot_script|safe }}
	{% endif %}
	{% if current_goals_plot_script != None %}
		{{ current_goals_plot_script|safe }}
	{% endif %}
	{% for chart in cadence_goal_history_charts %}
		{{ chart.plot_script|safe }}
	{% endfor %}
	{% for chart in exercise_set_goal_history_charts %}
		{{ chart.plot_script|safe }}
	{% endfor %}
{% endblock %}

{% block app_content %}
	<div class="card">
		<div class="card-body">
			<div class = "row">
				<div class="col-md-3">
					<div class="dropdown">
						<button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
							Select Week
						</button>
						<div class="dropdown-menu dropdown-menu-scrollable">
							{% for week in week_options %}
								<a class="dropdown-item {% if week.calendar_week_start_date==current_week %}active{% endif %}" href="{{ url_for("weekly_activity", year=current_year, week=week.calendar_week_start_date) }}">{{ week.calendar_week_start_date }}</a>
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="col-md-9">
					<nav>
						<ul class="pagination-sm nav justify-content-end ml-auto">
							{% for year in year_options %}
								<li class="page-item {% if year==current_year %}active{% endif %}"><a class="page-link" href="{{ url_for('weekly_activity', year=year) }}">{{ year }}</a></li>
							{% endfor %}
						</ul>
					</nav>
				</div>
			</div>
			{{ weekly_summary_plot_div|safe }}
		</div>
	</div>
	<h2>Week beginning {{ moment(current_week).format("LL") }}</h2>
	<div class="card">
		<div class="card-header">
			<h6 class="m-0 p-0 tt-heading">Analysis and Weekly Goals</h6>
		</div>
		<div class="card-body">
			<div class="nav nav-tabs" id="analysis-tab" role="tablist">
				<a class="nav-item nav-link active" id="nav-goals-tab" data-toggle="tab" href="#nav-goals" role="tab">Goal Progress</a>
				<a class="nav-item nav-link" id="nav-cadence-tab" data-toggle="tab" href="#nav-cadence" role="tab">Time Spent Above Cadence</a>
				<a class="nav-item nav-link" id="nav-exerciseSets-tab" data-toggle="tab" href="#nav-exerciseSets" role="tab">Exercise Sets</a>
			</div>
			<div class="tab-content" id="analysis-tabContent">
				<div class="tab-pane fade show active" id="nav-goals" role="tabpanel">
					<p class="mt-2">You can add new goals by clicking and tapping within the other graphs on the metric you want to set a goal for.</p>
					{{ current_goals_plot_div|safe }}
				</div>
				<div class="tab-pane fade" id="nav-cadence" role="tabpanel">
					{{ above_cadence_plot_div|safe }}
					{% for chart in cadence_goal_history_charts %}
						<h6 class="mt-3 tt-heading">{{ chart.name }}</h6>
						{{ chart.plot_div|safe }}
					{% endfor %}
					{% if utils.length_of_list(cadence_goal_history_charts) > 0 %}
						<p class="mt-3">Missing historic data?  You might need to <a href="{{ url_for('backfill_cadence_data') }}">backfill your cadence data</a>. Note this can take several minutes.</p>
					{% endif %}
				</div>
				<div class="tab-pane fade" id="nav-exerciseSets" role="tabpanel">
					{{ exercise_sets_plot_div|safe }}
					{% for chart in exercise_set_goal_history_charts %}
						<h6 class="mt-3 tt-heading">{{ chart.name }}</h6>
						{{ chart.plot_div|safe }}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	{% for day_detail in current_week_dataset %}
		<h5>{{ moment(day_detail.day.calendar_date).format("ddd LL") }}</h5>
		{% for activity in day_detail.activities %}
			{% include '_activity_summary.html' %}
		{% endfor %}
		{% for category_group in day_detail.exercises_by_category %}
			<div class="card {{ category_group.category.category_key }}_border_only mt-2">
				<div class="card-header {{ category_group.category.category_key }}">
					<h6 class="m-0 p-0">
						<a href="#{{category_group.category.category_key}}-{{day_detail.day.day_of_week}}" data-toggle="collapse" role="button">
							<i class="fa fa-chevron-down"></i>
							{{ category_group.exercise_count }} {{ category_group.category.category_name }} sets
						</a>
					</h6>
					
				</div>
				<div id="{{category_group.category.category_key}}-{{day_detail.day.day_of_week}}" class="card-body collapse">
					<table class="table table-sm table-hover">
						{% for exercise in category_group.exercises %}
							<tr>
								<td style="width: 40%">
									{% if exercise.scheduled_exercise %}
										<i class="fa fa-check-square-o"></i>
									{% endif %}
									{{ exercise.type.name }}
								</td>
								<td style="width: 20%">{{ moment(exercise.exercise_datetime).format("HH:mm:ss") }}</td>
								<td style="width: 20%">
									{% if exercise.type.measured_by == "reps" %}
										{{ exercise.reps }} reps
									{% elif exercise.type.measured_by == "seconds" %}
										{{ exercise.seconds }} secs
									{% endif %}
								</td>
								<td style="width: 20%">
									<a href="{{ url_for('edit_exercise', id=exercise.id, next='/weekly_activity/{year}/{week}'.format(year=current_year, week=current_week)) }}">
										<i class="fa fa-edit"></i> Edit
									</a>
								</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		{% endfor %}
	{% endfor %}
	<div><img src="/static/img/api_logo_cptblWith_strava_horiz_light.png" class="mt-5" /></div>
	<!-- Content for modals -->
	<div class="modal fade" id="setCadenceGoal-modal" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="setCadenceGoal-modalLabel">Set Weekly Goal</h5>
	        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close"></i></button>
	      </div>
	      <div class="modal-body">
	        {{ wtf.quick_form(cadence_goal_form) }}
	      </div>
	    </div>
	  </div>
	</div>
	<div class="modal fade" id="setExerciseSetsGoal-modal" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="setExerciseSetsGoal-modalLabel">Set Weekly Goal</h5>
	        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close"></i></button>
	      </div>
	      <div class="modal-body">
	        {{ wtf.quick_form(exercise_sets_goal_form) }}
	      </div>
	    </div>
	  </div>
	</div>
{% endblock %}